body{
    color:black;
    font-family:Arial;
    margin:0;
    padding:0;
    
}
.logo{
    display:block;
    margin: auto;
    width: 25em;
}
.presentation{
    text-align:center;
    background-color: rgb(184, 184, 184);
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    margin:auto;
    
}
h2{
    text-align: center;
}
@media screen and (min-width:500px) {
    .security{
        width:10em;
    }
}
@media screen and (max-width: 500px) {
    .security{
        width:5em;
    }
}
footer{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin:auto;
}
footer img{
    height: 7em;
}